# description
README.rst

# version
include bpforms/VERSION

# license
include LICENSE

# requirements
include requirements.txt
include requirements.optional.txt

# configuration
recursive-include bpforms/config *.cfg

# grammar
include bpforms/grammar.lark

# alphabets
recursive-include bpforms/alphabet *.yml

# website
graft bpforms/web

# examples
graft examples
