attrdict
beautifulsoup4
biopython
cement >= 3.0.0
configobj
jinja2
lark_parser >= 0.6.6
mendeleev
openbabel < 3
pandas
requests
requests_cache
ruamel.yaml >= 0.15
setuptools
sqlalchemy
wc_utils[chem] >= 0.0.14
