attrdict
py4j # must be installed before cdk_pywrapper
git+https://github.com/sebotic/cdk_pywrapper.git#egg=cdk_pywrapper
cement >= 3.0.0
lark_parser
openbabel
setuptools
git+https://github.com/KarrLab/wc_utils.git#egg=wc_utils-0.0.1a5
