h1, h2, h3, h4, h5, div, p { font-family: 'Raleway', sans-serif; }
tt {
    font-family: 'Courier New', 'Courier';
    background: #efefef;
    padding: 2px;
}
tt.attribute {
    /*
    color: #3bafda;
    font-weight: bold;
    */
}

.grid-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h1, .h1 {
    color: #3bafda;
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 1rem;
}
h2, .h2 {
    color: #fff;
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 0.2rem;
    padding: 0.2rem;
    text-align: center;
    font-weight: bold;
}
h3, .h3 {
    font-size: 1.25rem;
    margin-top: 1.0rem;
    margin-bottom: 0.5em;
    padding: 0.2rem;
    text-align: center;
    font-weight: bold;
}
h4, .h4, h5, .h5 {
    font-size: 1.0rem;
    margin-top: 1.0rem;
    margin-bottom: 0.2em;
    text-align: center;
    font-weight: bold;
}


.blue h2{ background: #3bafda;}
.blue h3{ color: #3bafda; border-bottom: 2px solid #3bafda;}
.green h2{ background: #2ad7b0;}
.green h3{ color: #2ad7b0; border-bottom: 2px solid #2ad7b0; }
.purple h2{ background: #da3baf; }
.purple h3{ color: #da3baf; border-bottom: 2px solid #da3baf; }
.orange h2{ background: #f6bb42; }
.orange h3{ color: #f6bb42; border-bottom: 2px solid #f6bb42; }
.orange h4{ color: #f6bb42;}
.red h2 { background: #fe174b; }
.red h3 { color: #fe174b; border-bottom: 2px solid #fe174b; }

p, div, label { color: #333; }

form { text-align: left; }
label { font-weight: bold; }
textarea { height: 100px; }
.out input, .out textarea { background: #eee; }

p.before_list {
    margin-bottom: 0px;
}
.example .syntax pre {
    font-size: 0.9rem;
}
.example .image {
    text-align: center;
}
.form-properties {
    font-size: 0.8rem;
}

pre {
    font-family: 'Courier New', 'Courier';
    background: #f6f6f6;
    padding: 0.5rem;
    overflow: visible;
    border-radius: 0.3rem;
    margin-top: 0rem;
}
pre.small {
    font-size: 0.75rem;
}

pre .bpform {
    color: #3bafda;
}

pre .bpform-attr {
    color: #2ad7b0;
}

pre .bpform-val {
    color: #fe174b;
}

pre .modification {
    color: #da3baf;
    font-weight: bold;
}

/* table of contents */
.toc {
    background: #f6f6f6;
    border-radius: 0.3rem;
    border: 1px solid #ccc;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.toc h3 {
    color: #333;
    font-size: 1.0rem;
    margin: 0px;
    padding: 0px;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    padding-bottom: 0.2rem;
    border-color: #333;
}
.toc a {
    color: #333;
}
.toc a:hover {
    color: #3bafda;
}
.toc ul li{
    margin-top: 0.5rem;
    font-size: 0.9rem;
    line-height: 120%;
}
.toc ul ul li {
    margin-top: 0rem;
    font-size: 0.85rem;
    line-height: 120%;
}
.toc ul ul ul li {
    margin-top: 0rem;
    font-size: 0.80rem;
    line-height: 120%;
}

/* example images */
.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fancybox-image {
    background: #fff;
}

/* alphabet */
#alphabet_container {
    padding-top: 1rem;
}
.monomer {
    border: 1px solid #ccc;
}
.monomer img {
    width: 250px;
    height: 150px;
    display: block;
}
.monomer .code {
    background: #ccc;
    color: #fff;
    width: 100%;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    text-align: center;
}
.monomer .structure {
    text-align: center;
    width: 100%;
    height: 160px;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.monomer .toggle {
    font-size: 0.7em;
    text-align: center;
}
.monomer .details{
    font-size: 0.7em;
    overflow: hidden;
    margin-top: 0.2rem;
}
.monomer .details table {
    margin-bottom: 0;
}
.monomer .details table tbody th {
    padding: 0.1rem 0.5rem 0.25rem;
    width: 4.5rem;
}
.monomer .details table tbody td {
    padding: 0.1rem 0.25rem 0.5rem;
}
.monomer .details table tbody td p {
    margin: 0px;
    padding-left: 0.5rem;
    text-indent: -0.5rem;
}
.monomer-legend {
    font-size: 0.7em;
}